.shine {
    background: #f6f7f8;
    background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-repeat: no-repeat;
    background-size: 800px 804px; 
    display: inline-block;
    position: relative; 
    
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: placeholderShimmer;
    -webkit-animation-timing-function: linear;
}

.box.vibration {
    animation: vibration .2s infinite;
  }
  
  @keyframes vibration {
    from {
      transform: rotate(0.3deg);
    }
    to {
      transform: rotate(-0.3deg);
    }
  }


  .optionColor{
    width: 100px;
  }


.input-memo{
    padding: 5px 12px;
    width: 440px;
    padding-bottom: 43px;
    word-wrap: break-word;
    background: #FFFFFF;
    border: none;
    resize: none;
    border: 1px solid #E4E7ED;
    border-radius: 2px;
    margin-top: 5px;
  }

  .input-title{
    /* padding: 5px 12px; */
    width: 300px;
    height: 30px;
    margin-left: 10px;
    /* padding-bottom: 43px; */
    /* word-wrap: break-word; */
    background: #FFFFFF;
    border: none;
    resize: none;
    border: 1px solid #E4E7ED;
    border-radius: 2px;
    /* margin-top: 5px; */
  }